<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="airbnb.spring.mapper.LoginMapper">
	
	<select id="login" resultType="airbnb.spring.dto.User">
		select * from TBL_USER where id=#{id} AND enabled != '0'
	</select>

	<select id="userRole" resultType="String">
		select ROLE_UNO from TBL_USER_role where uno = #{uno}
	</select>
	
	<!--자동로그인시 세션키값을 유저 테이블에 저장 합니다 -->
	<update id="updateSessionKey">
		update TBL_USER set sessionkey= #{sessionkey}
                ,sessionlimit = sysdate + 7
		where id = #{id}
	</update>
	
	<!-- sessionkey 가져와서 로그인 -->
	<select id="loginSessionKey" resultType="airbnb.spring.dto.User">
		select * from TBL_USER 
				where sessionkey= #{sessionkey} 
                and sessionlimit > sysdate AND enabled != '0'
	</select>
	
	<select id="checkId" resultType="airbnb.spring.dto.User">
		select * from TBL_USER where id = #{id} AND enabled != '0'
	</select>
	
	<select id="checkemail" resultType="airbnb.spring.dto.User">
		select * from TBL_USER where email = #{email} AND enabled != '0'
	</select>
	
	<insert id="insertUser">
		insert into TBL_USER (uno, id, pwd, enabled, name, email, tel)
			values (SEQ_USER.nextval, #{id}, #{pwd}, 1, #{name}, #{email}, #{tel})
	</insert>
	
	<insert id="insertUserRole">
		insert into TBL_USER_role (uno, role_uno) values (#{uno}, 'ROLE_USER')
	</insert>
	
	<select id="searchId" resultType="airbnb.spring.dto.User">
		select id from TBL_USER where name = #{name} or email = #{email} AND enabled != '0'
	</select>
	
	<select id="searchPwd" resultType="airbnb.spring.dto.User">
	select * from TBL_USER where id = #{id} or name = #{name}
    or email = #{email}	AND enabled != '0'
    </select>
	
	<update id="updatePwd">
	update TBL_USER set pwd=#{pwd} where id=#{id} or name=#{name} 
	or email=#{email}
	</update>
	
	<select id="get" resultType="airbnb.spring.dto.User">
		select * from TBL_USER where id=#{id} AND enabled != '0'
	</select>
	
	<select id="snslogin" resultType="airbnb.spring.dto.User">
		select * from TBL_USER where email=#{email} AND enabled != '0'
	</select>
	
	 <update id="update">
 		update TBL_USER
 		set id=#{id}, name=#{name}, email=#{email}, jip=#{jip}, address=#{address}, dtaddress=#{dtaddress}
 		where uno=#{uno} 
 	</update>
	
	
	<!-- ag  -->
		<select id="selectBoardList" resultType="airbnb.spring.dto.User">
		SELECT * 
		FROM TBL_USER
	</select>

	<insert id="addBoard" parameterType="airbnb.spring.dto.User"> <!-- bean이름의 값 -->
		insert into TBL_USER (uno, id, pwd, enabled, name, email, tel)
		values (SEQ_USER.nextval, #{id}, #{pwd}, 1, #{name}, #{email}, #{tel})
	</insert>

	<update id="updateBoard" parameterType="airbnb.spring.dto.User">
 		update TBL_USER
 		set id=#{id}, name=#{name}, email=#{email}, tel=#{tel}, enabled=#{enabled}, jip=#{jip}, address=#{address}, dtaddress=#{dtaddress}
 		where uno=#{uno}
			
	</update>
	
	
	<delete id="deleteBoard" parameterType="airbnb.spring.dto.User">
		DELETE FROM TBL_USER WHERE uno = #{uno}
	</delete>
	
	<update id="deleteuser">
     UPDATE TBL_USER
     SET enabled = '0'
     WHERE uno=#{uno}
	</update>  
	
</mapper>