@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/resources/images/back.jpg") no-repeat center;
    background-size: cover;
}
/* body::before{
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, -1);
} */


.item_btn {
    position: relative;
    width: 100%;
    padding: 13px 0 13px;
    border: 1px solid #166cea;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 10px;
    -moz-transition: background, 0.5s;
    -o-transition: background, 0.5s;
    -webkit-transition: background, 0.5s;
    transition: background, 0.5s;
    border-radius: 20px;
}

.item_btn:hover{
	background-color: lightgreen;
} 

.pswdImg1, .pswdImg2{
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -10px;
    cursor: pointer;
}
.idcheck{
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
    touch-action: manipulation !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    padding: 10px 16px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border-color: rgb(34, 34, 34) !important;
    background: rgb(255, 255, 255) !important;
    color: rgb(34, 34, 34) !important;
}

.sendMail {
	cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
    touch-action: manipulation !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px !important;
    border-width: 1px !important;
    border-style: solid !important;
    outline: none !important;
    padding: 5px 15px !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
    border-color: rgb(34, 34, 34) !important;
    background: rgb(255, 255, 255) !important;
    color: rgb(34, 34, 34) !important;
}

.login-form{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.login-form a{
	text-decoration: none;
}
.login-form {position: relative; z-index: 2;}
.login-form h1{
    font-size: 50px; color: rgb(229, 160, 209);
    text-align: center;
    margin-bottom: 50px;
    color: #8282ff;
}
.int-area {
	width: 400px;
	position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
 }
.int-area input:not(.idcheck) {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; 
    color: rgb(8, 8, 8);
    outline: none;
}
.int-area label{
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: rgb(199, 62, 160);
    transition: all .5s ease;
}
.int-area label.warning{
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning{
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.int-area input:focus + label,
.int-area input:valid + label {
    top:-2px;
    font-size: 13px; color: #166cea;
}
.btn-area{margin-top: 30px;}
.btn-area button{
    width: 100%; height: 50px;
    background:#166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
            -moz-transition: background, 0.5s;
    -o-transition: background, 0.5s;
    -webkit-transition: background, 0.5s;
    transition: background, 0.5s;

}
.btn-area button:hover{
	background-color: #0065ca;
}
.caption {
    margin-top: 15px;
    text-align: center;
}
#f1,#f2,#f3{
    display: inline-block;
    color: rgb(71, 71, 71);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
#f1:hover,#f2:hover,#f3:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.caption a{
    font-size: 15px; 
    text-decoration: none;
}
.tpa{
    margin-top: 20px;
    text-align: center;
}
#saveid{
	margin-top: 10px;
	padding-left: 5px;
}
.compare-text {
    color: black;
    width: 25%;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
