<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<html>
<head>
<title>상세 페이지</title>
<style type="text/css">
.flex_container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item {
	text-align: center;
	display: table;
	width: 200px;
	height: 400px;
}

.pic {
	display: table-cell;
	vertical-align: middle;
	flex-direction: column;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
}

.img {
	max-width: 200px;
	max-height: 200px;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
function getAjaxList(){
	$.ajax({
		url : 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Museum%20of%20Contemporary%20Art%20Australia&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=AIzaSyD9Ipehrpor4GUgqPUAUI7sXldNenx5suo',
		method : 'get',
		dataType : 'json',
		
		success : function( data, textStatus, jqXHR ){
			
			console.log("data",data);
			
			var tblContent = "";
			
			$.each(data, function(index, item){
				tblContent +="<tr><td>" + item.reply + "</td><td>"+item.replyer+"</td></tr>";
			});
			
			$("#repleTbl").html(tblContent);
			
		},
		error : function ( jqXHR, textStatus, errorThrown ){
			console.log("textStatus", textStatus);
		}
		
	});
}
</script>
</head>
<body>
	<div>
		<div class="_1gw6tte">
			<div style="-gp-section-max-width: 1128px;">
				<div class="_le6wlg">
					<div class="_4i7tcd"
						style="max-width: var(- -gp-section-max-width, 1128px);">
						<div data-plugin-in-point-id="TITLE_DEFAULT"
							data-section-id="TITLE_DEFAULT" style="padding-top: 24px;">
							<section>
								<div class="_b8stb0">
									<span class="_9cqu50">
										<h1 tabindex="-1" class="_fecoyn4">{Cloud 9./1호}
											정면바다뷰/연박할인多/일출/도보1분/깔끔/넷플릭스/오픈베란다</h1>
									</span>
								</div>
								<!-- 게시글 제목 -->
								<div class="_1qdp1ym">
									<div class="_544wcx">
										<span class="_14spi0z3"> <span class="_hyestb">
												<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
													aria-hidden="true" role="presentation" focusable="false"
													style="display: block; height: 14px; width: 14px; fill: currentcolor;">
    												<path
														d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
														fill-rule="evenodd">
    												</path>
   												</svg>
										</span> <!-- 별모양 --> <span class="_mvp6j0g">5.0</span> <a
											aria-label="후기 107개로부터 5점 만점에 5.0점을 받은 숙소입니다."
											href="/rooms/43261595/reviews?federated_search_id=1d2fb8d4-ed02-466b-894d-2012ec4a51bb&amp;source_impression_id=p3_1621818029_uZ9kEuxpkmyCPgmj&amp;guests=1&amp;adults=1"
											class="_5twioja"><span class="_142pbzop">(후기 107개)</span></a>
										</span>
										<!-- 별점 평균 입력 위치 -->
										<span class="_ngrlha"> <a
											href="/rooms/43261595/location?federated_search_id=1d2fb8d4-ed02-466b-894d-2012ec4a51bb&amp;source_impression_id=p3_1621818029_uZ9kEuxpkmyCPgmj&amp;guests=1&amp;adults=1"
											class="_5twioja"> <span class="_169len4r">Yeongok-myeon,
													Gangneung, 강원도, 한국</span>
										</a>
										</span>
										<!-- 주소 표시 -->
									</div>
								</div>
							</section>
						</div>
						<!-- div data-plugin-in-point-id="TITLE_DEFAULT" -->
					</div>
				</div>
			</div>
		</div>
		<div class="flex_container">
			<!-- 사진 전체 div -->
			<div class="item">
				<!-- 1,2번 사진 -->
				<div class="pic">
					<picture> <img class="img" aria-hidden="true" alt=""
						id="FMP-target"
						src="https://a0.muscache.com/im/pictures/miso/Hosting-43261595/original/509bdd17-0b32-4f4a-8449-cfe8012162cf.jpeg?im_w=720"
						data-original-uri="https://a0.muscache.com/pictures/miso/Hosting-43261595/original/509bdd17-0b32-4f4a-8449-cfe8012162cf.jpeg"
						style="object-fit: cover; vertical-align: bottom;"> </picture>
				</div>
				<div class="pic">
					<picture> <img class="img" aria-hidden="true" alt=""
						id="FMP-target"
						src="https://a0.muscache.com/im/pictures/miso/Hosting-43261595/original/509bdd17-0b32-4f4a-8449-cfe8012162cf.jpeg?im_w=720"
						data-original-uri="https://a0.muscache.com/pictures/miso/Hosting-43261595/original/509bdd17-0b32-4f4a-8449-cfe8012162cf.jpeg"
						style="object-fit: cover; vertical-align: bottom;"> </picture>
				</div>
			</div>
			<div class="item">
				<!-- 3,4번 사진 -->
				<div class="pic">
					<picture> <img class="img" aria-hidden="true" alt=""
						src="https://a0.muscache.com/im/pictures/7462044d-110c-4916-853c-a7f746d3e7d7.jpg?im_w=720"
						data-original-uri="https://a0.muscache.com/pictures/7462044d-110c-4916-853c-a7f746d3e7d7.jpg"
						style="object-fit: cover; vertical-align: bottom;"> </picture>
				</div>
				<div class="pic">
					<picture> <img class="img" aria-hidden="true" alt=""
						src="https://a0.muscache.com/im/pictures/miso/Hosting-43261595/original/dabac19b-3245-4989-acd4-2e99121fd70b.jpeg?im_w=720"
						data-original-uri="https://a0.muscache.com/pictures/miso/Hosting-43261595/original/dabac19b-3245-4989-acd4-2e99121fd70b.jpeg"
						style="object-fit: cover; vertical-align: bottom;"> </picture>
				</div>
			</div>
			<div class="item">
				<!-- 5,6 번 사진 -->
				<div class="pic">
					<picture> <img class="img" aria-hidden="true" alt=""
						src="https://a0.muscache.com/im/pictures/miso/Hosting-43261595/original/2733e046-ef2f-4275-ba46-9d28d105698d.jpeg?im_w=720"
						data-original-uri="https://a0.muscache.com/pictures/miso/Hosting-43261595/original/2733e046-ef2f-4275-ba46-9d28d105698d.jpeg"
						style="object-fit: cover; vertical-align: bottom;"> </picture>
				</div>
				<div class="pic">
					<picture> <img class="img" aria-hidden="true" alt=""
						src="https://a0.muscache.com/im/pictures/miso/Hosting-43261595/original/bf844985-5fb1-4b3a-93a5-0fba5f2bd0be.jpeg?im_w=720"
						data-original-uri="https://a0.muscache.com/pictures/miso/Hosting-43261595/original/bf844985-5fb1-4b3a-93a5-0fba5f2bd0be.jpeg"
						style="object-fit: cover; vertical-align: bottom;"> </picture>
				</div>
			</div>
		</div>
	</div>

	<div style="-gp-section-max-width: 1128px;">
		<div data-plugin-in-point-id="OVERVIEW_DEFAULT"
			data-section-id="OVERVIEW_DEFAULT"
			style="padding-top: 20px; padding-bottom: 20px;">
			<div class="_xcsyj0">매장 정보 제공부분 가져오기(테이크아웃 or 매장내 식사가능 등)</div>
			<div>
				<span>최대 인원 5명</span><span aria-hidden="true"> · </span><span>침실
					1개</span><span aria-hidden="true"> · </span><span>침대 2개</span><span
					aria-hidden="true"> · </span><span>욕실 1개</span>
			</div>
		</div>
	</div>

	<div class="flex_container">
		<div style="-gp-section-max-width: 1128px;">
			<div class="_npr0qi" style="border-top-color: rgb(221, 221, 221);"></div>
			<div data-plugin-in-point-id="HIGHLIGHTS_DEFAULT"
				data-section-id="HIGHLIGHTS_DEFAULT"
				style="padding-top: 32px; padding-bottom: 32px;">
				<div class="_1vjikx5">
					<div class="_1t2btyf">
						<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
							aria-hidden="true" role="presentation" focusable="false"
							style="display: block; height: 24px; width: 24px; fill: currentcolor;">
							<path
								d="M17.954 2.781l.175.164 13.072 12.842-1.402 1.426-1.8-1.768L28 29a2 2 0 0 1-1.85 1.994L26 31H6a2 2 0 0 1-1.995-1.85L4 29V15.446l-1.8 1.767-1.4-1.426L13.856 2.958a3 3 0 0 1 4.097-.177zm-2.586 1.503l-.096.088L6 13.48 6 29l5-.001V19a2 2 0 0 1 1.85-1.995L13 17h6a2 2 0 0 1 1.995 1.85L21 19v9.999h5V13.48l-9.3-9.135a1.001 1.001 0 0 0-1.332-.06zM19 19h-6v9.999h6z"></path></svg>
					</div>
					<div class="_1mqc21n">
						<div class="_1qsawv5">집 전체</div>
						<div class="_1jlr81g">구글지도에서 받아오는 상세정보 표시</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-plugin-in-point-id="DESCRIPTION_DEFAULT"
		data-section-id="DESCRIPTION_DEFAULT"
		style="padding-top: 32px; padding-bottom: 48px;">
		<div>
			<span><div class="_1ojpw5l">
					<div class="_1d784e5">직접 작성한 상세 내용 들어가는 자리</div>
				</div> </span>
		</div>
	</div>

	<!-- 댓글 붙여넣을 자리 -->
	<div class="_1gw6tte">
		<div style="-gp-section-max-width: 1128px;">
			<div class="_le6wlg">
				<div class="_4i7tcd"
					style="max-width: var(- -gp-section-max-width, 1128px);">
					<div class="_npr0qi" style="border-top-color: rgb(221, 221, 221);"></div>
					<div data-plugin-in-point-id="REVIEWS_DEFAULT"
						data-section-id="REVIEWS_DEFAULT"
						style="padding-top: 48px; padding-bottom: 48px;">
						<div style="padding-bottom: 32px;">
							<div class="_svr7sj">
								<section> <!-- 별점 및 후기 몃개달렷는지 작성하기 -->
									<h2 tabindex="-1" class="_14i3z6h">
										<span class="_deo54q"><svg viewBox="0 0 32 32"
												xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
												role="presentation" focusable="false"
												style="display: block; height: 16px; width: 16px; fill: currentcolor;">
												<path
													d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z"
													fill-rule="evenodd"></path></svg></span><span class="_goo6eo"><span
											class="_krjbj">97개 후기에서 별 5개 만점에 4.84개</span>
											<div dir="ltr">
												<span aria-hidden="true">4.84점(후기 97개)</span>
											</div></span>
									</h2>
								</section>
							</div>
						</div>
						<!-- 리플 -->
						<div class="_gmaj6l">
							<div>
								<div class="_1byskwn">
									<div class="_162hp8xh">
										<div class="_50mnu4">
											<div class="_1oy2hpi">
												<div class="_1lc9bb6">
													진우
													<div class="_1jlr81g">
														<div class="_1ixuu7m">
															<div>2021년 5월</div>
														</div>
													</div>
												</div>
											</div>
											<div>
												<span><div class="_1d784e5">
														<span>여러가지 좋은 점들이 많이 있는데 가장 좋았던 점은 숙소가 깨끗하고 호스트님이
															매우 친절하셔서 즐겁게 지내다 갔습니다! 2층뷰도 좋고 식기도구도 많고 침대도 많아서 좋았습니다!
															이외에도 시설이 워낙 좋아서 전혀 불편함없이 잘 있다가 갔습니다! 추천합니다!</span>
													</div></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
